* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* sets the header */
header {
  /* sets header padding to 20px all around */
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* sets the header background colour & colour of text */
  background-color: rgb(15, 14, 14);
  color: #ffffff;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

header h1 {
  /* sets the h1 text as an inline-block and font size */
  display: inline-block;
  font-size: 40px;
  margin: 0;
  padding-left: 20px;
  color: white;
}

/* Nav bar code */
header nav {
  padding-top: 15px;
  padding-right: 20px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  /* overrides the default list-style and sets it to none */
  list-style: none;
}

/* list items in navigation bar */
header nav ul li {
  /* sets display to inline-block */
  display: inline-block;
  margin-left: 25px;
}

header a {
  /* sets the colour and the text-decoration of the anchor element*/
  color: white;
  text-decoration: underline;
}

/* change colour on hover */
a:hover {
  /* background-color: black; */
  color: darkcyan;
  /* changes the property value smoothly */
  transition: all 1s ease;
}

/* Nav bar code end */


.hero-banner {
  height: 800px;
  /* width: 100%; */
  margin-bottom: 25px; 
  background-image: url("../images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3AtMjAwLWV5ZS0wMzQyNzAyLmpwZw.webp");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: cyan;
  font-size: 20px;
}

#headline {
  border-left: 5px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  padding: 25px;
  position: absolute;
  max-width: 600px;
}

#headline:hover {
  border-left: 5px solid white;
}

/* targets all 3 page-section class */
main .page-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
  align-items: center;
  margin-bottom: 25px;
}

/* targets the h2 that are the children of sections */
section h2 {
  flex: 0 0 10ch;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  color: black;
}

section .div-box {
  flex: 1 1 0;
}

#grid-box {
  margin: 0px;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "horiseon horiseon"
  "led-wall calculator"
  "puzzels run"
  ;
}

#horiseon-marketing-website {
  grid-area: horiseon;
  background-image: url("../images/digital-marketing-meeting.jpg");
}

#led-wall {
  grid-area: led-wall;
  background-image: url("../images/02-portfolio-1.jpg");
} 

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel-puzzels {
  grid-area: puzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}

#run-buddy {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
}

.gridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  cursor: pointer;
  display: grid;
  align-content: flex-start;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 50px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid black;
  position: relative;
  top: 250px;
}

#contact div {
  display: flex;
  justify-content: space-evenly;
}

#contact a {
  color: black;
  text-decoration: underline;
}

@media only screen and (max-width:1000px) {
  #headline {
    position: static;
    text-align: center;
  }
}

@media only screen and (max-width:600px) {
  #grid-box {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "horiseon" "led-wall" "calculator" "puzzels" "run"
    ;
  }

  nav a {
    display: none;
  }
  
}


























