* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* sets the header */
header {
  /* sets header padding to 20px all around */
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* sets the header background colour & colour of text */
  background-color: rgb(15, 14, 14);
  color: #ffffff;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

h1 {
  /* sets the h1 text as an inline-block and font size */
  display: inline-block;
  font-size: 40px;
  margin: 0;
  padding-left: 20px;
  color: white;
}

header nav {
  padding-top: 15px;
  padding-right: 20px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  /* overrides the default list-style and sets it to none */
  list-style: none;
}

/* list items in navigation bar */
header nav ul li {
  /* sets display to inline-block */
  display: inline-block;
  margin-left: 25px;
}

a {
  /* sets the colour and the text-decoration of the anchor element*/
  color: white;
  text-decoration: underline;
}

/* change colour on hover */
a:hover {
  /* background-color: black; */
  color: darkcyan;
}

.hero-banner {
  height: 800px;
  width: 100%;
  margin-bottom: 25px; 
  background-image: url("../images/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3AtMjAwLWV5ZS0wMzQyNzAyLmpwZw.webp");
  background-size: cover;
  background-position: center;
}

#headline {
  border-left: 5px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  padding: 25px;
  position: absolute;
  right: 30px;
  bottom: 110px;
  max-width: 600px;
}

#headline:hover {
  border-left: 5px solid white;
}


h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: darkcyan;
}

p {
  margin: 0;
}
